@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* font-family: 'Libre Baskerville', serif; */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/* font-family: 'Kalam', cursive; */

.navbar {
    background-color: #6F1D1B;
    height: 12rem;
}

body {
    background-image: url("img/background-index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body>div>div>div {
    background-color: rgba (187, 148, 87, 0.5) box-shadow: 10px 10px 10px 0px #6f1d1b;
    -webkit-box-shadow: 10px 10px 20px 0px #6f1d1b;
    -moz-box-shadow: 10px 10px 20px 0px #6f1d1b;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=10, Color='#6f1d1b', Positive='true');
    zoom: 1;
}

img {
    width: 12rem;
    height: auto;
    mix-blend-mode: lighten;

}

a {
    margin-right: 15rem;
}

body>header>nav>div>a.navbar-brand {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
}

body>header>nav>div>a:nth-child(3) {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
}

body>header>nav>div>a:nth-child(4) {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
    visibility: hidden;
}

body>header>nav>div>div>a {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
}

body>header>nav>div>div>ul>li:nth-child(1)>a {
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
    background-color: #6F1D1B;
}

body>header>nav>div>div>ul>li:nth-child(1)>a:hover {
    background-color: #99582A;
}

body>header>nav>div>div>ul>li:nth-child(2)>a {
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
    background-color: #6F1D1B;
}

body>header>nav>div>div>ul>li:nth-child(2)>a:hover {
    background-color: #99582A;

}

body {
    background-color: #BB9457;
}

.inscription {
    font-family: 'Kalam', cursive;
    color: #432818;
}

.texte {
    font-family: 'Kalam', cursive;
    color: #99582A;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
    font-family: 'Libre Baskerville', serif;
    color: #432818;

}

.textInv {
    font-family: 'Libre Baskerville', serif;
}