@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* font-family: 'Libre Baskerville', serif; */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/* font-family: 'Kalam', cursive; */
.navbar {
    background-color: #6F1D1B;
    height: 12rem;
}

img {
    width: 12rem;
    height: auto;
}

a {
    margin-right: 15rem;
}

body>header>nav>div>a.navbar-brand {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
}

body>header>nav>div>a:nth-child(3) {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
}

body>header>nav>div>a:nth-child(4) {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Kalam', cursive;
    color: #F3E4BF;
    visibility: hidden;
}

body {
    background-color: #BB9457;
}